.dark-mode-btn {
  order: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  border-radius: 50px;
  background-color: #ffffff;
}

.dark-mode-btn__icon {
  position: relative;
}

@media (max-width: 848px) {
  .dark-mode-btn {
    order: 0;
  }
}
@media (max-width: 552px) {
  .dark-mode-btn {
    order: 1;
  }
}
/* @media (max-width: 376px) {
  .dark-mode-btn {
    order: 0;
  }
} */
